# Question 1
#### Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
#### Examples
#### is_symmetrical(7227) ➞ True

#### is_symmetrical(12567) ➞ False

#### is_symmetrical(44444444) ➞ True

#### is_symmetrical(9939) ➞ False

#### is_symmetrical(1112111) ➞ True

## Answer:

In [29]:
def is_symmetrical(num):
    
    num_list = []
    
    while num > 0:
        
        num_list.insert(0, num%10)
        
        num = num//10
    
    flag = True
    
    for i in range(len(num_list)//2):
        
        if num_list[i] == num_list[-i-1]:
            
            continue
            
        else:
            
            flag = False
            
            break
            
    if flag:
        
        return True
    
    else:
        
        return False

In [30]:
is_symmetrical(7227)

True

In [31]:
is_symmetrical(12567)

False

In [32]:
is_symmetrical(44444444)

True

In [33]:
is_symmetrical(9939)

False

In [34]:
is_symmetrical(1112111)

True

# Question 2
#### Given a string of numbers separated by a comma and space, return the product of the numbers.
#### Examples
#### multiply_nums("2, 3") ➞ 6

#### multiply_nums("1, 2, 3, 4") ➞ 24

#### multiply_nums("54, 75, 453, 0") ➞ 0

#### multiply_nums("10, -2") ➞ -20

## Answer:

In [38]:
def multiply_nums(string_comma_with_space):
    
    list_split = string_comma_with_space.split(sep = ", ")
    
    result = 1
    
    for i in list_split:
        
        result *= int(i)
        
    return result

In [39]:
multiply_nums("2, 3")

6

In [40]:
multiply_nums("1, 2, 3, 4")

24

In [41]:
multiply_nums("54, 75, 453, 0")

0

In [42]:
multiply_nums("10, -2")

-20

# Question 3
#### Create a function that squares every digit of a number.
#### Examples
#### square_digits(9119) ➞ 811181

#### square_digits(2483) ➞ 416649

#### square_digits(3212) ➞ 9414
#### Notes
#### The function receives an integer and must return an integer.

## Answer:

In [23]:
def square_digits(input_num):
    
    str_num = str(input_num)
        
    result = []
    
    for i in str_num:
        
        result.append(str(int(i)**2))
    
    result = int("".join(result))
    
    return result

In [24]:
square_digits(9119)

811181

In [25]:
square_digits(2483)

416649

In [26]:
square_digits(3212)

9414

# Question 4
#### Create a function that sorts a list and removes all duplicate items from it.
#### Examples
#### setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

#### setify([4, 4, 4, 4]) ➞ [4]

#### setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

#### setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

## Answer:

In [27]:
def setify(input_list):
    
    input_list.sort()
    
    result = []
    
    for i in input_list:
        
        if i not in result:
            
            result.append(i)
        
    return result

In [28]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [29]:
setify([4, 4, 4, 4])

[4]

In [30]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [31]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Question 5
#### Create a function that returns the mean of all digits.
#### Examples
#### mean(42) ➞ 3

#### mean(12345) ➞ 3

#### mean(666) ➞ 6
#### Notes
#### •	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
#### •	The mean will always be an integer.

##

In [32]:
def mean(input_num):
    
    if type(input_num) != int:
        
        return "Enter the ineter number as input"
    
    else:
        
        input_num = str(input_num)
        
        result = 0
        
        for i in range(len(input_num)):
            
            result += int(input_num[i])
            
        result = result//(i+1)
        
        return result

In [33]:
mean(42)

3

In [34]:
mean(12345)

3

In [35]:
mean(666)

6