# Question 1
#### Create a function that takes a list of non-negative integers and strings and return a new list without the strings.
#### Examples
#### filter_list([1, 2, "a", "b"]) ➞ [1, 2]

#### filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]

#### filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]

## Answer:

In [1]:
def filter_list(list_input):
    
    output_list=[]
    
    for i in list_input:
        
        if type(i) != str:
            
            output_list.append(i)
            
        else:
            
            continue
            
    return output_list

In [2]:
filter_list([1, 2, "a", "b"])

[1, 2]

In [3]:
filter_list([1, "a", "b", 0, 15])

[1, 0, 15]

In [4]:
filter_list([1, 2, "aasf", "1", "123", 123])

[1, 2, 123]

# Question 2
#### The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.
#### Examples
#### reverse("Hello World") ➞ "DLROw OLLEh"

#### reverse("ReVeRsE") ➞ "eSrEvEr"

#### reverse("Radar") ➞ "RADAr"

## Answer:

In [10]:
def reverse(input_string):
    
    output_string =''
    
    for i in input_string[::-1]:
        
        if i.isupper():
            
            output_string += i.lower()
            
        elif i.islower():
            
            output_string += i.upper()
            
        else:
            
            output_string += i
    
    return output_string

In [11]:
reverse("Hello World")

'DLROw OLLEh'

In [12]:
reverse("ReVeRsE")

'eSrEvEr'

In [13]:
reverse("Radar")

'RADAr'

# Question 3
#### You can assign variables from lists like this:
#### lst = [1, 2, 3, 4, 5, 6]
#### first = lst[0]
#### middle = lst[1:-1]
#### last = lst[-1]

#### print(first) ➞ outputs 1
#### print(middle) ➞ outputs [2, 3, 4, 5]
#### print(last) ➞ outputs 6
#### With Python 3, you can assign variables from lists in a much more succinct way. Create variables first, middle and last from the given list using destructuring assignment (check the Resources tab for some examples), where:
#### first  ➞ 1

#### middle ➞ [2, 3, 4, 5]

#### last ➞ 6
#### Your task is to unpack the list writeyourcodehere into three variables, being first, middle, and last, with middle being everything in between the first and last element. Then print all three variables.

## Answer:

In [18]:
lst =[1,2,3,4,5,6]

first, middle, last = lst[0], lst[1:-1], lst[-1]

In [19]:
first

1

In [20]:
middle

[2, 3, 4, 5]

In [21]:
last

6

# Question 4
#### Write a function that calculates the factorial of a number recursively.
#### Examples
#### factorial(5) ➞ 120

#### factorial(3) ➞ 6

#### factorial(1) ➞ 1

#### factorial(0) ➞ 1

## Answer:

In [29]:
def factorial(num):
    
    if num == 0 or num == 1:
        
        return 1
    
    else:
        
        return num*factorial(num-1)

In [30]:
factorial(5)

120

In [31]:
factorial(3)

6

In [32]:
factorial(1)

1

In [33]:
factorial(0)

1

# Question 5
#### Write a function that moves all elements of one type to the end of the list.
#### Examples
#### move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]
# Move all the 1s to the end of the array.

#### move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]

#### move_to_end(["a", "a", "a", "b"], "a") ➞ ["b", "a", "a", "a"]

## Answer:

In [35]:
def move_to_end(inpt_list, element):
    
    end =[]
    
    final_list =[]
    
    for i in inpt_list:
        
        if i==element:
            
            end.append(i)
            
        else:
            
            final_list.append(i)
            
    final_list += end
    
    return final_list

In [36]:
move_to_end([1, 3, 2, 4, 4, 1], 1)

[3, 2, 4, 4, 1, 1]

In [37]:
move_to_end([7, 8, 9, 1, 2, 3, 4], 9)

[7, 8, 1, 2, 3, 4, 9]

In [38]:
move_to_end(["a", "a", "a", "b"], "a")

['b', 'a', 'a', 'a']